version: "3.8"

services:
  app:
    build: .
    container_name: ai-interview-app
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: ai-interview-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
